SECRET_KEY=fdgfjstre6rgcdcghdkafdfldfc9dfvxcxc
DEBUG=True
DATABASE_URL=postgres://user:password@localhost:5432/tinahstore

MPESA_CONSUMER_KEY=
MPESA_CONSUMER_SECRET=
MPESA_SHORTCODE=174379
MPESA_PASSKEY=
MPESA_CALLBACK_URL=https://your-ngrok-url.io/api/v1/payments/mpesa/callback/
MPESA_ENV=sandbox

CORS_ALLOWED_ORIGINS=http://localhost:5173
DEPOSIT_PERCENTAGE=0.60
DELIVERY_FEE=250
FREE_DELIVERY_THRESHOLD=5000

TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_IDS=id1,id2

GOOGLE_OAUTH_CLIENT_ID=
GOOGLE_OAUTH_CLIENT_SECRET=
